#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  text-align: left;
}

#levelContainer {
  padding: 1rem;
  min-width: 150px;
  border: 1px solid grey;
  margin-bottom: 0.2rem;
}

#handsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calculator {
  padding: 0.75rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  border: 1px solid grey;
}

h3 {
  padding: 0px;
  margin: 0px;
}

.submit {
  width: 100%;
}

#help {
  text-align: left;
  margin-top: 1rem;
  padding: 0.75rem;
  border: 1px solid grey;
}

#help code {
  font-weight: bold;
  background-color: black;
  padding-left: 4px;
  padding-right: 4px;
}
