.balatro {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
}

.chips {
  color: #0060ff;
  background-color: #f0f0f0;
}

.amult {
  color: #e00000;
  background-color: #f0f0f0;
}

.mmult {
  color: #f0f0f0;
  background-color: #e00000;
}
