.chips {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  color: #0080ff;
  background-color: #f0f0f0;
}

.amult {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  color: red;
  background-color: #f0f0f0;
}

.mmult {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  background-color: red;
}
